.form {
    margin-bottom: 35em;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form select,
.form textarea {
  width: 100%; /* Full width */
  padding: 1em;
  border: 1px solid #ccc; /* Border */
  border-radius: 0.5em; /* Rounded corners */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button */
.form input[type="submit"] {
  background-color: var(--accent);
  color: white;
  padding: 1em 1.75em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form input[type="submit"]:hover {
  background-color: var(--accent-secondary);
}

.sm {
    font-size: 0.75em;
    font-style: italic;
}

.contactDetails {
  margin-bottom: 2em;
}

.contactDetails h3 {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.contactDetails h3 a {
  color: black;
}