.header {
  position: relative;
  height: 50em;
  margin-bottom: 5em;
}

.header img {
  filter: brightness(50%);
}

.textbox {
  color: white;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0%, -50%);
}
