.header {
  position: relative;
  height: 50em;
  margin-bottom: 5em;
}

.header img {
  filter: brightness(50%);
}

.textbox {
  color: white;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0%, -50%);
}

.p {
  margin-bottom: 2em;
}

@media (min-width: 920px) {
  .textboxInner {
    width: 50%;
  }
}

.map {
  width: 100%;
  margin-bottom: 10em;
}